<!DOCTYPE html>
<html>
<head>
  <title>TicTacToe</title>
  <%= stylesheet_link_tag    :application, media: :all %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <p>
      <%= link_to "New Game!", games_path, method: :post %>
      <% if current_user %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% end %>
    </p>
    <% if flash[:notice] %>
      <div class="alert alert-info" role="alert"><%= flash[:notice].html_safe %></div>
    <% end %>
    <% if flash[:error] %>
      <div class="alert alert-danger" role="alert"><%= flash[:error].html_safe %></div>
    <% end %>
    <%= yield %>
  </div>

</body>
</html>